/*
div {
    border: 1px #cccccc solid;
}
*/

body {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.page {
    background-color: gray;
    background-image: url('../img/bg-body.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 900px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.topnav {
    background-color: rgba(64, 64, 64, 0.7);
}

.topnav-menu {
    list-style: none;
    padding: 0;
    text-align: center;
}

.topnav-menu a {
    color: white;
    text-decoration: none;
    padding: 1em;
}

.topnav-item {
    display: inline-block;
    text-transform: uppercase;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.topnav-item:last-child {
    border: none;
}

.header {
    color: white;
}

.main {
    background-color: white;
}

.main-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer {
    background-color: #333333;
    color: white;
    text-align: center;
}





@media (min-width: 480px) {
    .main {
        background-color: yellow;
    }
    .half {
        width: 49%;
    }
}

@media (max-width: 600px) and ( min-width: 480px){
    .main {
        background-color: green;
    }

    .header {
        display:none;
    }
}
