body {
  background-image: url("../img/bg-body.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.nav {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
}

.nav-list {
  list-style: none;
  text-align: center;
}

.nav-item {
  display: inline;
  padding: 20px;
  margin: 5px;
  border-right: 1px gray solid;
}

.nav-item:last-of-type {
  border: none;
}

.nav-item a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.header {
  color: white;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.header h1 {
  font-size: 350%;
}

.header p {
  color: yellow;
}

.hero {
  background-color: aliceblue;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid gray;
}

.cta {

  background-color: aliceblue;
  text-align: center;
  padding: 20px;

}


.button {
  background-color: deeppink;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
  color: white;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
}

.showcase {
  background-color: lightgray;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.third {
 text-align: center;
 
  
}
