// Variables

// Variables use throughout your stylesheet

$breakpoint-large: 1200px;
$breakpoint-medium: 960px;
$breakpoint-small: 478px;


$font-body: helvetica-neue, helvetica, sans-serif;
$font-heading: font-body;