body {
  background-image: url("../img/bg-body.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.nav {
  background-color: rgba(0,0,0,0.6);
    padding: 20px;
}

.nav-list {
  list-style: none;
  text-align: center;
}

.nav-item {
  display: inline;
  padding: 20px;
  margin: 5px;
  border-right: 1px gray solid;
}

.nav-item:last-of-type{
    border: none;
}

.nav-item a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}