.button {
    padding: 10px;
    border-radius: 10px;
    &-blue {
        background-color: $blue;
        color: white;
        &:hover {
            background-color: darken($blue, 10%);
        }
    }
}