.main {
    background-color: white;

    &-top {
        display: flex;
        padding-bottom: 2em;
    }

    &-middle{
        padding-bottom: 2em;
        .container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        

    }

    &-bottom {
        padding-bottom: 2em;
        .container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
          
        }

    }

    &-icon{
        color: lightgrey;
        font-size: 5em;
        text-align: center;
    }
}

.half, .third {
    width: 100%;
   
}

@media (min-width: $breakpoint-small) {
    .main {
       // background-color: yellow;
    }
    .half {
        width: 49%;
        
    }
    .third {
        width: 32%;
       
    }
}
