.topnav {
    background-color: rgba(64, 64, 64, 0.7);
}

.topnav-menu {
    list-style: none;
    padding: 0;
    text-align: center;
}

.topnav-menu a {
    color: white;
    text-decoration: none;
    padding: 1em;
}

.topnav-item {
    display: inline-block;
    text-transform: uppercase;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.topnav-item:last-child {
    border: none;
}